.container {
    height: 960px;
    width: 960px;
    border: 1px solid black;
}

.row {
    display: flex;
    /* border: 1px solid black; */
    align-items: stretch;
}

.child {
    /* border: 1px solid black; */
    flex: 1;
    height: 50px;
}


/* .child:hover {
    background-color: darkcyan;
}*/